.hero {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ddd;
  background-color: #f0f0f0;
  text-align: center;
}

.hero:small {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero:medium {
  padding-top: 60px;
  padding-bottom: 60px;
}
