.hero {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ddd;
  background-color: #f0f0f0;
  text-align: center;
}

.hero:small {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero:medium {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero__title {
    display: block;
    margin-bottom: 15px;
    color: #333;
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    text-decoration: none;
}

.hero__subtitle {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-family: Merriweather;
    color: #969696;
    font-size: 16px;
    font-weight: 300;
}
