.icon {
  width: 30px;
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  opacity: 0.36;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.icon:hover {
  opacity: 0.8;
}

