.wrapper {
  margin-right: 7%;
  margin-bottom: 40px;
  margin-left: 7%;
  padding-bottom: 40px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
  background-color: white;
}

.wrapper:small {
  margin-right: 0%;
  margin-bottom: 30px;
  margin-left: 0%;
  padding-bottom: 30px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 37px;
  color: #333;
  text-decoration: none;
}

.summary {
  font-family: 'Merriweather', serif;
  display: block;
  margin-bottom: 14px;
  line-height: 144%;
}

.category {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: inline-block;
  margin-right: 8px;
  color: #969696;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.category:hover {
  color: #333;
}

.date {
  display: inline-block;
  margin-right: 8px;
  color: #969696;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 1px;
}
